* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(145deg, #000000, #000000ea);
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  font-family: "Kdam Thmor Pro", sans-serif;
  user-select: none;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #808080dc;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #6b6b6b;
}
main {
  display: grid;
  grid-template-columns: 0.2fr 5.8fr;
  grid-area: main;
  height: 100vh;
  gap: 30px;
}
.left {
  background-color: #cfcfcf;
  height: 100%;
  width: 80px;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  transition: width 0.5s;
  padding: 80px 0px 0px 10px;
  display: flex;
  flex-direction: column;
}
.left.active {
  width: 290px;
  padding: 80px 0px 0px 30px;
  overflow: visible;
}
.navigation {
  width: 100%;
  overflow: hidden;
}
.navigation ul {
  position: relative;
  width: 260px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.navigation ul:last-child {
  margin-bottom: 0;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 263px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.navigation ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  right: 3px;
  height: 20px;
  width: 20px;
  background-color: #000000;
  display: none;
}
.navigation ul li b:nth-child(1)::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom-right-radius: 20px;
  position: absolute;
  background-color: #cfcfcf;
}
.navigation ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  right: 3px;
  height: 20px;
  width: 20px;
  background-color: #000000;
  display: none;
}
.navigation ul li b:nth-child(2)::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  position: absolute;
  background-color: #cfcfcf;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
  display: block;
}
.navigation ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  gap: 25px;
  color: #0a0a0a;
  letter-spacing: 2px;
  transition: 0.5s;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.5em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
.navigation ul li.active a {
  background: var(--color);
  color: #ff0055;
  z-index: 1;
  width: 260px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.navigation ul:last-child li.active ion-icon,
.navigation ul:last-child li.active .title {
  color: var(--color);
}
.togle {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  background-color: #00000000;
  height: 50px;
  cursor: pointer;
  display: flex;
  place-content: center;
}
.togle.active {
  background: #000000;
  border-left: 0;
}
.togle ion-icon {
  font-size: 40px;
  position: absolute;
  display: none;
  margin: 6px;
  color: #fa3a7a;
}
.togle ion-icon.open,
.togle.active ion-icon.close {
  display: block;
}
.togle ion-icon.close,
.togle.active ion-icon.open {
  display: none;
}

.content {
  padding: 15px 10px 10px 10px;
  height: 100%;
  width: 100%;
}
.content h1 {
  color: #2aa6aa;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
.content h2 {
  color: #000000bb;
  font-size: 15px;
}
footer {
  background-color: #1c3858;
  grid-area: footer;
  height: 10vh;
}
