* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(60deg, #000000 50%, #1a1a1a);
  display: grid;
  font-family: "Kdam Thmor Pro", sans-serif;
  user-select: none;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #808080dc;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #6b6b6b;
}
main {
  display: grid;
  grid-template-columns: 0.2fr 5.8fr;
  height: 100%;
}
.left {
  background-color: #cfcfcf;
  height: 100%;
  width: 80px;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 17px;
  overflow: hidden;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  padding: 85px 0px 0px 10px;
}
.left.active {
  width: 270px;
  padding: 85px 0px 0px 10px;
  overflow: visible;
}
.navigation ul {
  position: relative;
  width: 100%;
  margin: 0;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.navigation ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  right: 0px;
  height: 20px;
  width: 20px;
  background-color: #000000;
  display: none;
}
.navigation ul li b:nth-child(1)::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom-right-radius: 20px;
  position: absolute;
  background-color: #cfcfcf;
}
.navigation ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  right: 0px;
  height: 20px;
  width: 20px;
  background-color: #000000;
  display: none;
}
.navigation ul li b:nth-child(2)::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  position: absolute;
  background-color: #cfcfcf;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
  display: block;
}
.navigation ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  width: 260px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  gap: 25px;
  color: #0a0a0a;
  letter-spacing: 2px;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.5em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
.navigation ul li.active a {
  background: var(--color);
  color: #ff0055;
  width: 260px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.navigation ul:last-child li.active ion-icon,
.navigation ul:last-child li.active .title {
  color: var(--color);
}
.togle {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  background-color: #00000000;
  height: 50px;
  cursor: pointer;
  display: flex;
  place-content: center;
  transition: 0.5s;
}
.togle.active {
  background: #000000;
  border-left: 0;
}
.togle ion-icon {
  font-size: 40px;
  position: absolute;
  display: none;
  margin: 6px;
  color: #ff0055;
}
.togle ion-icon.open,
.togle.active ion-icon.close {
  display: block;
}
.togle ion-icon.close,
.togle.active ion-icon.open {
  display: none;
}
section:nth-child(2) {
  display: grid;
  align-items: center;
  justify-content: center;
}
.container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
.container.off {
  display: none;
}
.card {
  position: relative;
  width: 300px;
  height: 420px;
  text-align: center;
  background-color: #cfcfcf;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.circle {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--clr);
  clip-path: circle(180px at center 0);
  transition: 0.5s;
}
.circle h2 {
  font-size: 4.5em;
  padding: 30px 0;
}
.content {
  bottom: 30px;
  position: absolute;
  page-break-after: 20px;
  position: absolute;
}
.content p {
  color: #333;
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
}
.content a {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: var(--clr);
  border-radius: 40px;
  transition: 0.5s;
}
.container:hover .card {
  filter: blur(5px);
  transform: scale(0.9);
  opacity: 0.5;
}
.container .card:hover {
  transform: scale(1.2);
  opacity: 1;
  filter: blur(0);
}
.card:hover .circle {
  clip-path: circle(400px at center 0);
}
.card:hover a {
  background-color: #cfcfcf;
  color: #111;
}
.card:hover p {
  color: #111;
}
.social { 
  transform: translateX(440px); 
  position: absolute;
  transition: 0.3s;
}
.social .instagram {
  display: none;
  background-color: #cfcfcf;
  width: 400px;
  height: 420px;
  text-align: center;
  border-radius: 20px;
  overflow: visible;
  transition: 0.3s;
  position: relative;
}
.social .instagram.active {
  display: block;
}
.social:hover {
  transform: translateX(140px);
}
.social .instagram:hover{
  width: 1000px; 
}
.instagram .circle {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr);
  clip-path: circle(220px at center 5px);
  transition: 0.5s;
  border-radius: 20px;
}

.instagram .circle .icon {
  font-size: 6em;
  color: #cfcfcf;
  transition: 0.5s;
  transform: translateY(-40%);
}
.instagram .circle .icon ion-icon {
  background-color: #ff0055;
  border-radius: 20px;
}
.instagram .conteudo{
  position: relative;
}
.instagram .circle img{
  border-radius: 100px;
}
.instagram:hover .circle {
  clip-path: circle(100%);
}
.instagram:hover .circle .icon {
  transform: translate(-40%, 40%);
}
